# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/CANBoot.X/build/default/production/_ext/1472/CANIO.err
/CANBoot.X/build/default/production/_ext/1472/CANIO.o.d
/CANBoot.X/dist/default/production/CANBoot.X.production.cof
/CANBoot.X/dist/default/production/CANBoot.X.production.map
/CANBoot.X/build/default/production/_ext/1472/CANIO.lst
/CANBoot.X/*.fil
/CANBoot.X/build/pic18f2580/production/_ext/1472/*.err
/CANBoot.X/build/pic18f2580/production/_ext/1472/*.lst
/CANBoot.X/build/pic18f2580/production/_ext/1472/*.d
/CANBoot.X/build/pic18f26k80/debug/_ext/1472/*.err
/CANBoot.X/build/pic18f26k80/debug/_ext/1472/*.lst
/CANBoot.X/build/pic18f26k80/debug/_ext/1472/*.d
/CANBoot.X/build/pic18f26k80/production/_ext/1472/*.err
/CANBoot.X/build/pic18f26k80/production/_ext/1472/*.lst
/CANBoot.X/build/pic18f26k80/production/_ext/1472/*.d
/CANBoot.X/dist/pic18f2580/production/*.cof
/CANBoot.X/dist/pic18f2580/production/*.map
/CANBoot.X/dist/pic18f26k80/debug/*.cof
/CANBoot.X/dist/pic18f26k80/debug/*.map
/CANBoot.X/dist/pic18f26k80/production/*.cof
/CANBoot.X/dist/pic18f26k80/production/*.map
/CANBoot.X/nbproject/*.mk
/CANBoot.X/nbproject/*.bash
